<img src="https://raw.githubusercontent.com/kishangondaliya/jupyter-notebooks/master/data/pandas.png" width="300" vspace="30px" align="right">

<div align="left">
<h1>Pandas</h1>

In this notebook, we'll learn the basics of data analysis with the Python Pandas library.
</div>

<table align="center">
  <td>
<img src="https://raw.githubusercontent.com/kishangondaliya/jupyter-notebooks/master/data/colab_logo.png" width="25"><a target="_blank" href="https://colab.research.google.com/github/kishangondaliya/jupyter-notebooks/blob/master/learn_pandas.ipynb"> Run in Google Colab</a>
  </td>
  <td>
<img src="https://raw.githubusercontent.com/kishangondaliya/jupyter-notebooks/master/data/github_logo.png" width="22"><a target="_blank" href="https://github.com/kishangondaliya/jupyter-notebooks/blob/master/learn_pandas.ipynb"> View code on GitHub</a>
  </td>
</table>

# Set up

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Set seed for reproducability
np.random.seed(seed=1234)

# Download data

We're goign to work with the [Titanic dataset](https://www.kaggle.com/c/titanic/data) which has data on the people who embarked the RMS Titanic in 1912 and whether they survived the expedition or not. It's a very rich dataset which makes it very apt for exploratory data analysis with Pandas.

In [ ]:
import urllib

In [ ]:
# Upload data from GitHub to notebook's local drive
url = 'https://raw.githubusercontent.com/kishangondaliya/jupyter-notebooks/master/data/titanic.csv'
response = urllib.request.urlopen(url)
html = response.read()
with open('titanic.csv', 'wb') as f:
    f.write(html)

In [ ]:
# Checking if the data was uploaded
!ls -l

# Load data

Let's load the data from the CSV file into a Pandas dataframe. The `header=0` signfies that the first row (0th index) is a header row which contains the names of each column in our dataset.

In [ ]:
# Read from CSV to Pandas DataFrame
df = pd.read_csv('titanic.csv', header=0)

In [ ]:
# First five items
df.head()

These are the diferent features: 
* **pclass**: class of travel
* **name**: full name of the passenger
* **sex**: gender
* **age**: numerical age
* **sibsp**: # of siblings/spouse aboard
* **parch**: number of parents/child aboard
* **ticket**: ticket number
* **fare**: cost of the ticket
* **cabin**: location of room
* **emarked**: port that the passenger embarked at (C - Cherbourg, S - Southampton, Q = Queenstown)
* **survived**: survial metric (0 - died, 1 - survived)

# Exploratory analysis

In [ ]:
import matplotlib.pyplot as plt

We can use `.describe()` to extract some standard details about our numerical features.

In [ ]:
# Describe features
df.describe()

In [ ]:
# Correlation matrix
plt.matshow(df.corr())
continuous_features = df.describe().columns
plt.xticks(range(len(continuous_features)), continuous_features, rotation='45')
plt.yticks(range(len(continuous_features)), continuous_features, rotation='45')
plt.colorbar()
plt.show()

We can also use `.hist()` to view the histrogram of values for each feature.

In [ ]:
# Histograms
df['age'].hist()

In [ ]:
# Unique values
df['embarked'].unique()

# Filtering

In [ ]:
# Selecting data by feature
df['name'].head()

In [ ]:
# Filtering
df[df['sex']=='female'].head() # only the female data appear

# Sorting

In [ ]:
# Sorting
df.sort_values('age', ascending=False).head()

# Grouping

In [ ]:
# Grouping
survived_group = df.groupby('survived')
survived_group.mean()

# Indexing

We cna use `iloc` to get rows or columns at particuluar positions in the dataframe.

In [ ]:
# Selecting row 0
df.iloc[0, :]

In [ ]:
# Selecting a specific value
df.iloc[0, 1]

# Preprocessing

After exploring, we can clean and preprocess our dataset.

In [ ]:
# Rows with at least one NaN value
df[pd.isnull(df).any(axis=1)].head()

In [ ]:
# Drop rows with Nan values
df = df.dropna() # removes rows with any NaN values
df = df.reset_index() # reset's row indexes in case any rows were dropped
df.head()

In [ ]:
# Dropping multiple columns
df = df.drop(['name', 'cabin', 'ticket'], axis=1) # we won't use text features for our initial basic models
df.head()

In [ ]:
# Map feature values
df['sex'] = df['sex'].map( {'female': 0, 'male': 1} ).astype(int)
df['embarked'] = df['embarked'].dropna().map( {'S':0, 'C':1, 'Q':2} ).astype(int)
df.head()

# Feature engineering

We're now going to use feature engineering to create a column called `family_size`. We'll first define a function called `get_family_size` that will determine the family size using the number of parents and siblings.

In [ ]:
# Lambda expressions to create new features
def get_family_size(sibsp, parch):
    family_size = sibsp + parch
    return family_size

Once we define the function, we can use `lambda` to `apply` that function on each row (using the numbers of siblings and parents in each row to determine the family size for each row).

In [ ]:
df["family_size"] = df[["sibsp", "parch"]].apply(lambda x: get_family_size(x["sibsp"], x["parch"]), axis=1)
df.head()

In [ ]:
# Reorganize headers
df = df[['pclass', 'sex', 'age', 'sibsp', 'parch', 'family_size', 'fare', 'embarked', 'survived']]
df.head()

# Save data

Finally, let's save our preprocessed data into a new CSV file to use later.

In [ ]:
# Saving dataframe to CSV
df.to_csv('processed_titanic.csv', index=False)

In [ ]:
# See the saved file
!ls -l

# Additional resources

* **Pandas reference manual**: There's so much more we can do with Pandas and we'll see even more in later notebooks. But if you're curious, checkout the [Pandas user guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html) for more information.